<!-- <h3 style="text-align: center;">MY WEATHER APP</h3>
<h3 style="text-align: center;"><i class="pi pi-user" style="font-size: 2.5rem"></i>{{cityName}}</h3> -->
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="shadow-2 border-round surface-card px-4 md:px-6 py-6">

    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="border-left-2 border-pink-500">
          <span class="bg-white text-pink-500 font-bold text-2xl inline-block px-3">WEATHER APPLICATION</span>
      </div>
      <div class="mt-6 mb-5 font-bold text-6xl text-900">{{cityName}}</div>
      </div>
      <div class="col-12 md:col-6">
        <div class="text-center border-1 surface-border border-round p-4">
          <i class="pi pi-sun text-5xl text-blue-500"></i>
          <div class="text-900 text-2xl font-700 my-3 font-bold">{{weather?.main?.temp}}</div>
          <span class="font-medium text-600">{{weather?.weather[0]?.description | uppercase}}</span>
        </div>
        <div class="text-center border-1 surface-border border-round p-4">
          <i class="pi pi-cog text-5xl text-blue-500"></i>
          <div class="text-900 text-2xl font-700 my-3 font-bold">{{weather?.main?.humidity}}</div>
          <span class="font-medium text-600">HUMIDITY</span>
        </div>
        <div class="text-center border-1 surface-border border-round p-4">
          <i class="pi pi-truck text-5xl text-blue-500"></i>
          <div class="text-900 text-2xl font-700 my-3 font-bold">{{weather?.wind?.speed}}</div>
          <span class="font-medium text-600">WIND SPEED</span>
        </div>
      </div>
    </div>



      <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12">
            <label for="city" class="font-medium text-900">Enter City Name</label>
            <input id="city" type="text" pInputText [(ngModel)]="city">
        </div>
        <div class="col-12">
          <button pButton pRipple [loading]="loading" label="Get Weather Information" class="w-auto mt-3" (click)="getWeather()"></button>
        </div>
        </div>
  </div>
</div>
<router-outlet></router-outlet>
